<h1> <%= @personaje["name"] %> </h1>
<h2> Datos Generales </h2>
<p> Año de Nacimiento: <%= @personaje['birth_year'] %> , Color de los Ojos: <%= @personaje['eye_color'] %>, sexo: <%= @personaje['gender'] %>, color del pelo: <%= @personaje['hair_color'] %>, Altura: <%= @personaje['height'] %>, peso: <%= @personaje['mass'] %>, color de piel: <%= @personaje['skin_color'] %> </p>
<h2> Peliculas En las que aparece</h2>
	